<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange | <%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/49985d21bc.js" crossorigin="anonymous"></script>
</head>
<body class="bg-[#fff7ed] flex items-center justify-center h-screen">
    <div class="w-[92vw] sm:w-120 bg-white h-120 rounded-[10px] shadow-sm relative">
        <h1 class="text-[#9a3412] text-3xl text-center font-bold py-4 px-10">Welcome!</h1>
        <p class="text-center text-xl">Please log in to continue</p>
        <form action="/login" method="POST" class="flex flex-col items-center py-10 px-8">
            <input type="text" name="username" placeholder="Username" required class="w-80 p-2 mb-8 border border-[#fed7aa] rounded focus:outline-none focus:ring-1 focus:ring-[#fed7aa]  ">

            <div class="relative w-80 mb-8">
                <input type="password" name="password" id="password" placeholder="Password" required class="w-full p-2 border border-[#fed7aa] rounded focus:outline-none focus:ring-1 focus:ring-[#fed7aa] pr-10" >
                <i class="fa-solid fa-eye absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 cursor-pointer"></i>
            </div>

            <button type="submit" class="bg-[#f97316] text-white w-80 p-2 mb-8 rounded hover:bg-[#ea580c] transition duration-200">Login</button>
        </form>
        <p class="text-center text-sm text-gray-500">Don't have an account? <a href="/signup" class="text-[#f97316] hover:underline">Sign Up</a></p>
        
    </div>
    <script src="/js/main.js"></script>
</body>
</html>